<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>profile</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body class="profile">

	{% if error %}
	<p class="alert">User doesn't exist!</p>

	{% else %}
	<img class="img" src="{{ user.avatar_url }}">
	<h1 class="name">{{ name }}</h1>
	<ul class="user-details">
		<li><a href="https://github.com/{{ user.login }}/repositories" target="_blank">Repositories: <span>{{ user.public_repos }}</span></a></li>
		<li><a href="https://github.com/{{ user.login }}/followers" target="_blank">Followers: <span>{{ user.followers }}</span></a></li>
		<li><a href="https://github.com/{{ user.login }}/following" target="_blank">Following: <span>{{ user.following }}</span></a></li>
		<li><a href="https://gist.github.com/{{ user.login }}" target="_blank">Public Gists: <span>{{ user.public_gists }}</span></a></li>
	</ul>
	{% endif %}

	{% if connectionError %}
	<p>Check your internet connection!</p>
	{% endif %}

</body>
</html>
